body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* hamburger */
#hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-size: 30px;
    background: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

/* menu */
.side-menu {
    width: 220px;
    height: 100vh;
    background: #222;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.side-menu a:hover {
    background: #444;
}

/* content */
.content {
    padding: 80px 20px;
}

/* submenu */
.submenu {
    display: none;
    background: #333;
}

.menu-item.open .submenu {
    display: block;
}

.submenu a {
    padding-left: 30px;
}

/* puščica */
.arrow {
    float: right;
    width: 8px;
    height: 8px;
    border-right: 4px solid currentColor;
    border-bottom: 4px solid currentColor;
    transform: rotate(45deg);
    margin-top: 0px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.menu-item.open .arrow {
    transform: rotate(135deg);
}